body {
  font-family: 'Open Sans', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
}

/* Styling for Navigation */

nav {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menu-item{
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.15em;
  color: rgb(90,90,90);
}

a.menu-item {
  color: rgb(90,90,90);
}

a.menu-item:hover, a.menu-item:focus, a.menu-item:after {
  color: #92A8D1;
  text-decoration: none;
  border-bottom: 3px solid #92A8D1;
  padding-bottom: 10px;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Styling for the Headings and Text */

h1, h2, h3{
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 700;
  letter-spacing: 0.15em;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: rgb(50,50,50);
}

h2{
  font-weight: 400;
  letter-spacing: 0.15em;
  font-size: 24px;
  padding-bottom: 20px;
}

h3 {
  font-size: 20px;
  letter-spacing: 0.1em;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

p {
  font-size: 14px;
}

code {
  font-family: monospace;
  font-size: 1em;
  background-color: #EEE;
  color: #000000;
  padding: 0.5em 0.75em;
  display: inline-block;
  margin-bottom: 1rem;
}

/* Styling for Sections */

.element {
  padding-bottom: 2rem;
}

/* INTERACTIVE ELEMENTS */

.intext-link {
  color: #92A8D1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.intext-link:hover, a.intext-link:focus {
  color: rgb(90,90,90);
  text-decoration: none;
}

.button {
  background-color: white;
  font-family: 'Lato', sans-serif;
  color: #92A8D1;
  font-weight: 400;
  letter-spacing: 0.15em;
  border: 2px solid #92A8D1;
  padding: 0.4em 1.5em;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover, .button:focus {
  background-color: #92A8D1;
  color: white;
}

input {
  padding: 5px 10px;
  border: grey solid 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

input[type=text]:focus {
    border: 2px solid #92A8D1;
}

/* Combined Elements */
/* Credit: Footer Stick to Bottom of Page: https://teamtreehouse.com/community/how-to-make-the-footer-to-stick-at-the-bottom-the-page */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
  background-color: #92A8D1;
  color: #FFF;
  text-align: center;
  font-size: 14px;
}
