*,*::after,*::before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

html {
  position: relative;
  height: 97%;
}

body {
  position: relative;
  min-height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Open Sans', sans-serif;
}

/* Styling for Navigation */

nav {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menu-item{
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.15em;
  color: rgb(90,90,90);
}

a.menu-item {
  color: rgb(90,90,90);
}

a.menu-item:hover, a.menu-item:focus, a.menu-item:after {
  color: #92A8D1;
  text-decoration: none;
  border-bottom: 3px solid #92A8D1;
  padding-bottom: 10px;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Styling for Mobile Navigation */
.mobile-nav {
  display: none;
}

@media (max-width: 576px) {
  .mobile-nav {
    display: block;
  }
  .primary-nav {
    display: none;
  }
}

.mobile-menu-items {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #92A8D1;
}

.mobile-menu-item{
  display: block;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.15em;
  color: rgb(90,90,90);
  padding-top: 5px;
  padding-bottom: 5px;
}

a.mobile-menu-item {
  color: rgb(90,90,90);
}

.mobile-menu-items .nav-current {
  font-weight: 700;
}


/* Styling for the Headings and Text */

h1, h2, h3, h5 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 700;
  letter-spacing: 0.15em;
  text-align: center;
  margin-top: 1.5rem;
  /* margin-bottom: 1.5rem; */
  color: rgb(50,50,50);
}

h2{
  font-weight: 400;
  letter-spacing: 0.15em;
  font-size: 24px;
  padding-bottom: 20px;
}

h2.title {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 0px;
  color: #92A8D1;
}

h3 {
  font-size: 20px;
  letter-spacing: 0.1em;
}

h3.header-subtitle {
  font-size: 14px;
  text-align: center;
  color: #92A8D1;
}

h3.subtitle {
  font-size: 14px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

p {
  font-size: 14px;
}

code {
  font-family: monospace;
  font-size: 1em;
  background-color: #EEE;
  color: #000000;
  padding: 0.5em 0.75em;
  display: inline-block;
  margin-bottom: 1rem;
}

h5 {
  font-weight: 700;
  letter-spacing: 0.15em;
  font-size: 16px;
}

h5.process-title {
  font-size: 20px;
  letter-spacing: 0.2em;
}

a, a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
}

p.process-analysis {
  line-height: 2;
}

/* Styling for Sections */

.element {
  padding-bottom: 2rem;
}

/* INTERACTIVE ELEMENTS */

.intext-link {
  color: #92A8D1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.intext-link:hover, a.intext-link:focus {
  color: rgb(90,90,90);
  text-decoration: none;
}

.button {
  display: block;
  background-color: white;
  font-family: 'Lato', sans-serif;
  color: #92A8D1;
  font-weight: 400;
  letter-spacing: 0.15em;
  border: 2px solid #92A8D1;
  padding: 0.4em 1.5em;
  width: 100%;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover, .button:focus {
  cursor: pointer;
}

input {
  padding: 5px 10px;
  border: grey solid 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

input[type=text]:focus {
    border: 2px solid #92A8D1;
}

/* Combined Elements */

.project {
  padding-bottom: 30px;
}

.project-thumbnail {
  max-width: 100%;
  height: auto;
  display: block;
  position: relative;
}

@media (max-width:992px) {
  .last-thumbnail {
    margin-bottom: 20px;
  }
}

@media (max-width:475px) {
  .last-thumbnail {
    margin-bottom: 40px;
  }
}

/* Credit: Image Overlay Fade In https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_fade */

.project-images .project-item {
  position: relative;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: .5s ease;
  background-color: #000;
}

.project:hover .thumbnail-overlay {
  opacity: 0;
}

.thumbnail-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 1;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

h5.thumbnail-title {
 color: white;
 text-align: center;
 padding-top: 10px;
}

h3.thumbnail-subtitle {
  color: rgb(190,190,190);
  font-size: 16px;
}


/* .project-header-image {
   max-width: 100%;
   height: auto;
} */

.project-image {
  max-width: 100%;
  height: auto;
}

.project-info {
  padding-top: 2em;
}


.project-description {
  padding-top: 2em;
  line-height: 2;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  display: inline-block;
  padding-right: 20px;
}

.darkgrey {
  background-color: rgb(90,90,90);
}

.blue {
  background-color: #92A8D1;
}

/* Credit: Footer Stick to Bottom of Page: https://codepen.io/cbracco/pen/zekgx */
footer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: auto;
  width: 100%;
}

.footer-contact {
  font-size: 13px;
  text-align: center;
}

a.footer-contact {
  text-decoration: none;
  color: #92A8D1;
}

a.footer-contact:hover, a.footer-contact:focus {
  color: rgb(90,90,90);
}

.footer-style {
  background-color: #92A8D1;
  color: #FFF;
  text-align: center;
  font-size: 12px;
}

.footer-link, .footer-link:hover, .footer-link:focus{
  text-decoration: none;
  color: white;
}


/* Project Page Styling */

.project-section {
  padding-bottom: 5rem;
}

.persona-image {
  max-width: 100%;
  height: auto;
}

.text-middle {
  margin-left: 20%;
  margin-right: 20%;
}

@media (max-width:992px) {
  .text-middle {
    margin-left: 0;
    margin-right: 0;
  }
  .project-image {
    order: 1;
  }
  .project-info {
    order: 2;
  }
}

/* Video Responsive Styling */
/* Credit: How to embed Vimeo videos responsively: https://www.abeautifulsite.net/how-to-embed-youtubevimeo-videos-responsively */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* About Page Styling */

.about-image {
  max-width: 100%;
  height: auto;
}

/* .main-content {
  padding-bottom: 100px;
} */

@media (max-width:478px) {
  .main-content {
    padding-bottom: 100px;
  }
}
